/* aisectionSection.css */
.aisection-section {
  background-color: white;
  padding: 40px 20px;
}

.aisection-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
  flex-wrap: wrap;
  white-space: nowrap;
}

.aisection-col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.aisection-col .center-col {
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.aisection-title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -2px;
  margin-bottom: 24px;
  color: #2a2a72;
  font-weight: 500;
}

.aisection-subtitle {
  font-size: 1rem;
  margin-bottom: 35px;
  max-width: 520px;
}

/* .aisection-button {
  padding: 10px 25px;
  background-color: #7a5af8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
} */
.aisection-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: #fff;
  border: 5px solid #e9eaeb;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/* .aisection-svg {
  max-width: 120px;
  max-height: 120px;
  transform: scaleX(-1);
} */

/* .aisection-col {
  position: relative;
} */
/* .aisection-col .main-image{
    width: 369px;
    height: 376px;
} */
.main-image {
  width: 300px;
  height: auto;
}

.right-image {
  transform: scaleX(-1);
  width: 300px;
}

.aisection-col .small-icon {
  position: absolute;
  width: fit-content;
  height: auto;
  border-radius: 40px;
  box-sizing: border-box;
  border: none;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
  color: #fff;
  padding: 5px 10px;
}

.aisection-col .first-small1 {
  top: -10px;
  left: 5px;
}

.aisection-col .first-small2 {
  top: 54px;
  left: 34px;
}

.aisection-col .first-small3 {
  top: 155px;
  left: 65px;
}

.aisection-col .first-small4 {
  top: 258px;
  left: 38px;
}

.aisection-col .first-small5 {
  top: 335px;
  left: 15px;
}
.aisection-col .first-small6 {
  bottom: 0;
  left: -38px;
}

.aisection-col .second-small1 {
  top: -10px;
  left: 250px;
}
.aisection-col .second-small2 {
  top: 52px;
  left: 180px;
}
.aisection-col .second-small3 {
  top: 154px;
  left: 122px;
}
.aisection-col .second-small4 {
  top: 258px;
  left: 175px;
}
.aisection-col .second-small5 {
  top: 338px;
  left: 230px;
}
.aisection-col .second-small6 {
  bottom: 0;
  right: 0px;
}



.aisection-header {
  color: #3e1c96;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #ebe9fe;
  width: fit-content;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.28px;
  font-weight: 500;
}


@media (min-width: 1024px) and (max-width: 1440px) {

  .aisection-col .first-small1 {
    top: -20px;
    left: 70px;
  }

  .aisection-col .first-small2 {
    top: 35px;
    left: 140px;
  }

  .aisection-col .first-small3 {
    top: 105px;
    left: 60px;
  }

  .aisection-col .first-small4 {
    top: 190px;
    left: 150px;
  }

  .aisection-col .first-small5 {
    top: 270px;
    left: 80px;
  }

  .aisection-col .second-small1 {
    top: -25px;
    left: 150px;
  }

  .aisection-col .second-small2 {
    top: 65px;
    left: 85px;
  }

  .aisection-col .second-small3 {
    top: 125px;
    left: 215px;
  }

  .aisection-col .second-small4 {
    top: 195px;
    left: 110px;
  }

  .aisection-col .second-small5 {
    top: 270px;
    left: 220px;
  }

}
@media (min-width: 1201px) and (max-width: 1400px) {

  .aisection-col .first-small1 {
    top: -20px;
    left: 70px;
  }

  .aisection-col .first-small2 {
    top: 30px;
    left: 100px;
  }

  .aisection-col .first-small3 {
    top: 110px;
    left: 60px;
  }

  .aisection-col .first-small4 {
    top: 180px;
    left: 110px;
  }

  .aisection-col .first-small5 {
    top: 235px;
    left: 80px;
  }

  .aisection-col .second-small1 {
    top: -25px;
    left: 150px;
  }

  .aisection-col .second-small2 {
    top: 35px;
    left: 85px;
  }

  .aisection-col .second-small3 {
    top: 105px;
    left: 150px;
  }

  .aisection-col .second-small4 {
    top: 175px;
    left: 110px;
  }

  .aisection-col .second-small5 {
    top: 235px;
    left: 155px;
  }
}


@media (min-width: 1024px) and (max-width: 1200px) {

  .aisection-col .first-small1 {
    top: -20px;
    left: 70px;
  }

  .aisection-col .first-small2 {
    top: 30px;
    left: 100px;
  }

  .aisection-col .first-small3 {
    top: 80px;
    left: 60px;
  }

  .aisection-col .first-small4 {
    top: 125px;
    left: 110px;
  }

  .aisection-col .first-small5 {
    top: 190px;
    left: 80px;
  }

  .aisection-col .second-small1 {
    top: -25px;
    left: 150px;
  }

  .aisection-col .second-small2 {
    top: 25px;
    left: 85px;
  }

  .aisection-col .second-small3 {
    top: 85px;
    left: 150px;
  }

  .aisection-col .second-small4 {
    top: 145px;
    left: 110px;
  }

  .aisection-col .second-small5 {
    top: 190px;
    left: 155px;
  }
}


@media (max-width: 1024px) {
  .content-section {
    display: none;
  }
  .aisection-row {
    justify-content: center;
    gap: 0px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .aisection-col{
    flex: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;

  }
  .aisection-col .first-small1 {
  top: -20px;
  left: 70px;
}

.aisection-col .first-small2 {
  top: 55px;
  left: 140px;
}

.aisection-col .first-small3 {
  top: 160px;
  left: 60px;
}

.aisection-col .first-small4 {
  top: 260px;
  left: 150px;
}

.aisection-col .first-small5 {
  top: 340px;
  left: 80px;
}

.aisection-col .second-small1 {
  top: -10px;
  left: 150px;
}
.aisection-col .second-small2 {
  top: 42px;
  left: 85px;
}
.aisection-col .second-small3 {
  top: 160px;
  left: 215px;
}
.aisection-col .second-small4 {
  top: 245px;
  left: 110px;
}
.aisection-col .second-small5 {
  top: 340px;
  left: 220px;
}
}

@media(min-width:1030px){
  .content-section-one{
    display: none;
  }
}

@media(max-width:575px){
  .aisection-col .main-image {
    display: none;
  }
  .aisection-col .small-icon{
  position: static;
  width: fit-content;
  height: auto;
  border-radius: 40px;
  box-sizing: border-box;
  border: none;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
  margin-top: 20px;
  margin-right: 10px;
  }
  .aisection-title{
    font-size: 29px;
  }
  .aisection-row{
    margin-top: 15px;
    flex-wrap: wrap;
    display: none;
  }
    .svg-wrapper {
    display: none;
  }
}


/* Mirror the SVG */
.svg-wrapper.mirror {
  transform: scaleX(-1);
}

.aisection-col .zuno-image {
  width: 80%;
}

.zunoai-features-card-leftone {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-lefttwo {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-leftthree {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-leftfour {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}

.zunoai-features-card-rightone {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-righttwo {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-rightthree {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}
.zunoai-features-card-rightfour {
  position: absolute;
  background: linear-gradient(135deg, #1338be , #2a2a72);
  color: white;
}