.contact-map-section {
  width: 100%;
  padding: 60px 20px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-map-images {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 40px;
}

.contact-map-images img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.location-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  z-index: 2;
}

.location-overlay img {
  width: 50px;
  height: 75px;
}

.loc-1 {
  top: 34%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.loc-2 {
  top: 28%;
  left: 8%;
  transform: translate(-50%, -50%);
}

.loc-3 {
  top: 68%;
  left: 87%;
  transform: translate(-50%, -50%);
}


.icon-img-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
  z-index: 3;
}

.icon-img-overlay img {
  width: 40px;
  height: 40px;
}

.small-icon-1 {
  top: 31%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.small-icon-2 {
  top: 25%;
  left: 8%;
  transform: translate(-50%, -50%);
}

.small-icon-3 {
  top: 65%;
  left: 87%;
  transform: translate(-50%, -50%);
}


.contact-map-content {
  width: 100%;
  max-width: 1200px;
}

.contact-map-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 30px;
  display: flex;
  gap: 40px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.contact-location h4,
.contact-fresh-start h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.contact-location ul {
  padding-left: 18px;
  color: #1338be;
}

.contact-location li {
  margin-bottom: 8px;
}

.contact-location li b {
  font-weight: 500;
}

.contact-right {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}

.contact-right iframe {
  width: 100%;
  height: 100%;
  min-height: 360px;
  border: none;
}


.contact-content-style {
  font-weight: 500;
  font-style: italic;
  color: #1338be;
  max-width: 370px;
}

@media (max-width: 768px) {
  .contact-map-card {
    flex-direction: column;
  }

  .contact-right iframe {
    min-height: 280px;
  }

  .location-overlay {
    padding: 8px 10px;
    font-size: 12px;
  }

  .location-overlay img {
    width: 18px;
    height: 18px;
  }
}
