/* IntegrationSection.css */
.integration-section {
  background-color: white;
  padding: 40px 20px;
}

.integration-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.integration-col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center-col {
  flex: 2;
  flex-direction: column;
  text-align: center;
}

.integration-title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -2px;
  margin-bottom: 24px;
  color: #1338be;
  font-weight: 400;
}

.integration-subtitle {
  font-size: 1rem;
  margin-bottom: 35px;
  max-width: 520px;
}

/* .integration-button {
  padding: 10px 25px;
  background-color: #7a5af8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
} */
.integration-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(180deg, #1338fe 0%, #2a2a72 100%);
  color: #fff;
  border: 5px solid #e9eaeb;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/* .integration-svg {
  max-width: 120px;
  max-height: 120px;
  transform: scaleX(-1);
} */

/* .integration-col {
  position: relative;
} */
/* .integration-col .main-image{
    width: 369px;
    height: 376px;
} */
.main-image {
  width: 300px;
  height: auto;
}

.right-image {
  transform: scaleX(-1);
  width: 300px;
}

.small-icon {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 8px solid #fff;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
}

.first-small1 {
  top: -20px;
  left: 70px;
}

.first-small2 {
  top: 35px;
  left: 140px;
}

.first-small3 {
  top: 125px;
  left: 60px;
}

.first-small4 {
  top: 190px;
  left: 150px;
}

.first-small5 {
  top: 270px;
  left: 80px;
}

.second-small1 {
  top: -25px;
  left: 150px;
}
.second-small2 {
  top: 65px;
  left: 85px;
}
.second-small3 {
  top: 125px;
  left: 215px;
}
.second-small4 {
  top: 195px;
  left: 110px;
}
.second-small5 {
  top: 270px;
  left: 220px;
}



.integration-header {
  color: #3e1c96;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #ebe9fe;
  width: fit-content;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.28px;
  font-weight: 500;
}


@media (min-width: 1024px) and (max-width: 1440px) {

  .first-small1 {
    top: -20px;
    left: 70px;
  }

  .first-small2 {
    top: 35px;
    left: 140px;
  }

  .first-small3 {
    top: 105px;
    left: 60px;
  }

  .first-small4 {
    top: 190px;
    left: 150px;
  }

  .first-small5 {
    top: 270px;
    left: 80px;
  }

  .second-small1 {
    top: -25px;
    left: 150px;
  }

  .second-small2 {
    top: 65px;
    left: 85px;
  }

  .second-small3 {
    top: 125px;
    left: 215px;
  }

  .second-small4 {
    top: 195px;
    left: 110px;
  }

  .second-small5 {
    top: 270px;
    left: 220px;
  }

}
@media (min-width: 1201px) and (max-width: 1400px) {

  .first-small1 {
    top: -20px;
    left: 70px;
  }

  .first-small2 {
    top: 30px;
    left: 100px;
  }

  .first-small3 {
    top: 110px;
    left: 60px;
  }

  .first-small4 {
    top: 180px;
    left: 110px;
  }

  .first-small5 {
    top: 235px;
    left: 80px;
  }

  .second-small1 {
    top: -25px;
    left: 150px;
  }

  .second-small2 {
    top: 35px;
    left: 85px;
  }

  .second-small3 {
    top: 105px;
    left: 150px;
  }

  .second-small4 {
    top: 175px;
    left: 110px;
  }

  .second-small5 {
    top: 235px;
    left: 155px;
  }
}


@media (min-width: 1024px) and (max-width: 1200px) {

  .first-small1 {
    top: -20px;
    left: 70px;
  }

  .first-small2 {
    top: 30px;
    left: 100px;
  }

  .first-small3 {
    top: 80px;
    left: 60px;
  }

  .first-small4 {
    top: 125px;
    left: 110px;
  }

  .first-small5 {
    top: 190px;
    left: 80px;
  }

  .second-small1 {
    top: -25px;
    left: 150px;
  }

  .second-small2 {
    top: 25px;
    left: 85px;
  }

  .second-small3 {
    top: 85px;
    left: 150px;
  }

  .second-small4 {
    top: 145px;
    left: 110px;
  }

  .second-small5 {
    top: 190px;
    left: 155px;
  }
}


@media (max-width: 1024px) {
  .content-section {
    display: none;
  }
  .integration-row {
    justify-content: center;
    gap: 0px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .integration-col{
    flex: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;

  }
  .first-small1 {
  top: -20px;
  left: 70px;
}

.first-small2 {
  top: 55px;
  left: 140px;
}

.first-small3 {
  top: 160px;
  left: 60px;
}

.first-small4 {
  top: 260px;
  left: 150px;
}

.first-small5 {
  top: 340px;
  left: 80px;
}

.second-small1 {
  top: -25px;
  left: 150px;
}
.second-small2 {
  top: 100px;
  left: 85px;
}
.second-small3 {
  top: 160px;
  left: 215px;
}
.second-small4 {
  top: 245px;
  left: 110px;
}
.second-small5 {
  top: 340px;
  left: 220px;
}
}

@media(min-width:1030px){
  .content-section-one{
    display: none;
  }
}

@media(max-width:575px){
  .integration-col .main-image {
    display: none;
  }
  .small-icon{
  position: static;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 8px solid #fff;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px rgba(24, 29, 39, 0.12);
  margin-top: 20px;
  margin-right: 10px;
  }
  .integration-title{
    font-size: 29px;
  }
  .integration-row{
    margin-top: 15px;
    flex-wrap: wrap;
  }
    .svg-wrapper {
    display: none;
  }
}


/* Mirror the SVG */
.svg-wrapper.mirror {
  transform: scaleX(-1);
}


@media(max-width:540px){
  .integration-section {
  background-color: white;
  padding: 15px 20px;
}

}