.customCard-section {
  padding-bottom: 60px;
}

.featureShowcase-topImage {
  text-align: center;
  position: relative;
}

.featureShowcase-topImage img {
  width: 90%;
  margin-top: -40px;
}

.customCard-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
  margin-top: -125px;
  
}

.customCard {
  padding: 20px;
  border-radius: 16px;
  text-align: start;
  max-width: 292px;
  flex: 1 1 260px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.customCard-noBg {
  background: transparent !important;
  box-shadow: none !important;
}

.customCard-imgBox {
  position: relative;
}

.person-img {
  width: 100%;
  border-radius: 16px;
}

.person-rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ffffffcc;
  color: #1338be;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}

.testimonialText {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35em;
  letter-spacing: -0.36px;
}

.testimonial-second-text {
  color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.28px;
}

.testimonial-span {
  color: #717680;
}
.card-one-name {
  background: #f0f0f0;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #1338be;
  font-weight: 500;
}

.card-two-name {
  background: #f0f0f0;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  color: #1338be;
}

.numberText {
  font-size: 28px;
  font-weight: 500;
}

.customCard-number {
  background: url("../../../../public/assets/images/common/map-section-card-bg-img.webp")
    no-repeat center/cover;
  color: #fff;
  background-color: #7b5aff;
}

.customCard-number h2 {
  font-size: 48px;
  margin: 0;
}

.customCard-testimonial {
  background: #132436;
  color: #fff;
}

.testimonial-img {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

.textBox-sub span,
.work-span {
  color: #1338fe;
  font-weight: 500;
}

.card-four-main-text {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.96px;
  color: #181d27;
  line-height: 1em;
}

.textBox-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /* margin-top: 30px; */
}

.textBox-sub {
  position: relative; 
  width: 100%;   
  height: 225px;
}

.zigBox1 {
  position: absolute;
  opacity: 1;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 10px 22px;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  background-color: rgb(253, 244, 156);
  margin: 0px;
  transform: translate(-50%, -50%) rotate(-0.477187rad);
}


.zigBox2 {
  position: absolute;
  opacity: 1;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 10px 22px;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  background-color: rgb(198, 240, 192);
  margin: 0px;
  left: 130px;
  top: 55px;
  transform: translate(-50%, -50%) rotate(6.274rad);
}


.zigBox3 {
  position: absolute;
  opacity: 1;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 10px 22px;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  background-color: rgb(248, 199, 236);
  margin: 0px;
  left: 65px;
  top: 125px;
  transform: translate(-50%, -50%) rotate(5.7326rad);
}


.zigBox4 {
  position: absolute;
  opacity: 1;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 10px 22px;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  background-color: rgb(193, 232, 249);
  margin: 0px;
  left: 160px;
  top: 175px;
  transform: translate(-50%, -50%) rotate(0.1675rad);
}


.zigBox5 {
  position: absolute;
  opacity: 1;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 10px 22px;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  background-color: rgb(226, 219, 247);
  margin: 0px;
  left: 70px;
  top: 210px;
  transform: translate(-50%, -50%) rotate(-0.15rad);
}

.business-automated{
    height:275px;
    justify-content: space-between;
}


@media (max-width: 768px) {
  .zigBox {
    min-width: 140px;
  }
  .zigBox:nth-child(even) {
    margin-top: 15px;
  }
}

@media (max-width: 1024px) {
  .featureShowcase-topImage img {
    display: none;
  }

  .customCard-row {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .customCard-row {
    flex-direction: row;
    align-items: center;
  }

  .customCard {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .customCard-section {
   display: none;
  }
}
